body#body
  :margin 0
  :text-align center
  :font-family sans-serif
  :font-size 0.8em

form
  fieldset
    :border-style none
    :padding 0
    :margin 0
  label
    :display block
    :font-size 0.8em
  input, textarea, select
    :border
      :style solid
      :width 1px
      :color #aaa
    :margin-bottom 0.6em
    :display block
  textarea
    :width 90%
    :height 10em
    :font-family sans-serif
    :font-size 1em
  input
    &[type="hidden"]
      :border-style none
    &.button
      :display inline
      :text-align center !important

a img
  :border-style none
  :vertical-align middle

.center
  :margin 0 auto
  :text-align center
  :display block

.spinner
  :margin 1em auto
  :text-align center
  :display block

#preview
  :border-top
    :style double
    :color #bbb
  :width 104%
  :padding
    :left 2%
    :right 2%
  :margin
    :bottom 1em
    :left -2%

#content
  :width 70%
  :float left
  h1
    :font
      :weight normal
      :size 1.5em
    :text-align center

#full
  :width 100%
  :margin 0 auto
  *
    :text-align left

!header_bg = #23238E

#header
  :background-color = !header_bg
  :color #fff
  :height 5.3em
  :position relative
  :background
    :image url(/images/grad.png)
    :repeat repeat-x
    :position top
  .title
    :display block
    :position absolute
    :bottom 0
    :left 13em
    .hover
      :display none
    &:hover
      .normal
        :display none
      .hover
        :display inline

  .citation
    :display block
    :width 20em
    :position relative
    :left 29em
    :top 1em

!flash_notice_color = #080
!flash_error_color = #800

.flash
  :margin 0 auto
  :width 70%
  .notice, .error
    :border
      :style solid
      :width 4px
    :padding 0.5em
    :font-weight bold
    :font-size 1.05em
  h2
    :font-size 1.2em
  .notice
    :background-color = !flash_notice_color + #969
    :border-color = !flash_notice_color
    :color = !flash_notice_color - #030
  & .error, .failure
    :background-color = !flash_error_color + #966
    :border-color = !flash_error_color
    :color = !flash_error_color - #300

.failure
  :text-align center !important
  :margin 0 auto
  :width 50%
  :border
    :style solid
    :width 5px
  :padding 0.5em

.nav
  :margin-top 0.5em
  :height 2em
  :position relative
  a
    :text-decoration none
    :opacity 0.5
    img
      :position relative
      :bottom 0.1em
    &:hover
      :opacity 1
    &.next
      :position absolute
      :right 0
    &.prev
      :position absolute
      :left 0

#main
  :padding 0.3em
    :top 1em
  :width 80%
  :margin 0 auto

!sidebar_bg = #ffd
#sidebar
  :float right
  :border
    :style solid
    :width 1px
    :color #ccc
  :width 20%
  :padding 0.5em
    :top 2em
    :left 2.5em
  :margin-top -1.1em
  :background-color = !sidebar_bg
  a
    :text-decoration none
    &:hover
      :text-decoration underline
  .admin a
    :opacity 0.5
    :margin-right 0.7em
    &:hover
      :text-decoration none
      :opacity 1
  h2
    :font-size 1.1em
    :font-weight normal
    :margin 0
      :left -1em
  .sect
    :margin-bottom 1em
  ul
    :list-style none
    :padding-left 0
    :margin 0
    li
      :position relative
  .links a
    :margin-top 0.5em
    :display block
    img
      :margin-right 0.4em
  .tags .feed
    :position absolute
    :top -3px
    :left -15px
    :height 13px
    :overflow hidden
  .search
    input
      :width 65%
      &.button
        :width 20%
        :float right
        :margin-right 10%
    #search_results.fail
      :text-align center
      :margin-right 10%
    ul
      :margin-left -1em
      a
        :display block
        :padding 0.2em
          :left 1em
        &:hover
          :background-color = !sidebar_bg - #002
      li
        &.odd
          :background-color = !sidebar_bg - #222
          a:hover
            :background-color = !sidebar_bg - #224


#bottom
  :border-top
    :style dotted
    :width 1px
    :color #aaa
  :background-color #fff
  :width 106%
  :margin-left -3%
  :position relative
  :top -1px
  :clear both
  :margin-bottom 1em
  :text-align center
  a
    :text-decoration none
    :color #c83
    &:hover
      :color #ea5
  .license
    :display block
    :width 80px
    :margin 0 auto
      :top 0.2em

.content
  .footnote
    :font-size 0.8em

.model.post
  h2
    :margin-bottom 0
    :font-size 1.4em
    a
      :color #000
      :text-decoration none
      &:hover
        :color #00f
  .posted
    :font-size 0.8em
    :font-style italic
    .small_date
      :font-size 0.7em
  .side_links
    :margin-top 4px
  .tags
    :float right
    :margin-top 1em
    :font-size 0.8em
    :position relative

    .label
      :position absolute
      :top 0
      :right -4em
      :color #aaa

.model.post
  :border-bottom
    :style dotted
    :width 1px
    :color #ccc
  :padding-bottom 1em
  .links
    a
      :width 11em
      :font-size 0.9em
      :margin-top -0.5em
      :margin-left 3em
      :text-decoration none
      img
        :margin-right 0.3em
      &.more:hover:after
        :content " >>"

.model
  :position relative

!comment_line_out = 2%

#comments
  :position relative
  :border-top
    :style dotted
    :width 1px
  :width = 100% + 2 * !comment_line_out
  :margin-left = 0 - !comment_line_out
  :padding
    :top 1em
    :left = !comment_line_out
    :right = !comment_line_out
  #new_comment
    .textile
      :font-size 0.8em
      :position absolute
      :left 23em
      :margin-top -1.5em
    .email
      // Anti-spam!
      :display none

.model.comment
  :border-bottom
    :style dotted
    :width 1px
    :color #ccc
  :margin-bottom 1.4em
  .content
    :margin-bottom -0.8em
  .posted
    :font-size 0.8em
  .name
    :font-weight bold

.comment_feed
  :float right
  a
    :text-decoration none
    img
      :margin-left 0.5em

.side_links
  :text-align right !important
  :position absolute
  :top -2px
  :width 10%
  :left -11%
  a
    :opacity 0.5
    &:hover
      :opacity 1

body.posts
  &.dates
    .date_links
      :position relative
      :height 2em
      .prev
        :position absolute
        :left 0
      .next
        :position absolute
        :right 0
      a
        :text-decoration none
        :opacity 0.5
        &:hover
          :opacity 1
        img
          :margin
            :left 0.4em
            :right 0.4em
  &.new, &.edit
    .content textarea
      :height 20em
      :font-family monospace
      :font-size 1.2em

#signin
  :position absolute
  :top 0
  :right 0
  a
    :text-decoration none
    :color #fff

#signin_form
  :position relative
  .glyph
    :position absolute
    :right 2em
    :top -0.2em
    :font-size 10em

.static #content
  h1
    :font-weight normal
