%h1.center About Me

:redcloth
  My name's Nathan Weizenbaum, and this is my blog.
  I'm an undergraduate at the "University of Washington":http://www.washington.edu/,
  majoring in Computer Science and (soon) Philosophy.

  I'm relatively new to programming and computer science in general,
  but I have done some interesting things.
  Chief among these so far is my work "Haml":http://haml.hamptoncatlin.com/,
  a delightful markup language that works as an abstraction over HTML,
  and its sister language Sass,
  an abstraction over CSS.
  Check them out; you'll never have to write ugly HTML/CSS again.

  I'm also a developer for "@make_resourceful@":/posts/7,
  a "Ruby on Rails":http://rubyonrails.org plugin
  that takes the repetition out of REST(Representational State Transfer),
  and the creator of "Scribble":/posts/3,
  a fun, Ruby-based art program.

  The language I know best is Ruby,
  due mostly to my work on Haml, Scribble, @make_resourceful@,
  and several sites I've built with Rails (including this one).
  However, I'm still young;
  I feel no need to pledge allegiance to one language above all others.

  I've been known to engage in art occasionally, too.
  Since I stopped regular art classes in middle school,
  this mostly ends up only happening when I have the opportunity,
  by which I mean that I doodle when I should be taking notes in class.
  I also occasionally do something with a computer graphics program.

  Finally a few factoids about me.
  I like desserts,
  particularly of the "chocolate":http://www.franschocolates.com/
  or "ice cream":http://www.bottegaitaliana.com/pages/20050615.html variety.
  I've even been known to create them on occasion.
  I'm an "introvert":http://www.theatlantic.com/doc/200303/rauch, 
  and I'm partially "red-green colorblind":http://en.wikipedia.org/wiki/Colorblind#Red-green_color_blindness.
  I enjoy factoids, and presume others do as well.

%p
  I like to chat with most people about most things,
  most of the time,
  so you're welcome to contact me.
  My email and Jabber/Google Talk handle are both
  == #{mail_to 'nex342@gmail.com', nil, :encode => :hex}.
