%h1.center Legal Info

%p
  All content on this site (well, that which is created by me) is available under the
  = link_to('Creative Commons Attribution-Share Alike 3.0 License', "http://creativecommons.org/licenses/by-sa/3.0/", :rel => "license") + '.'
  This means that you can use and redistribute it freely,
  as long as you attribute it to me.
  You can also modify it
  (I have no idea how or why you'd be doing that, but hey)
  and redistribute <em>that</em>,
  as long as you redistribute it under this license
  and attribute it to me.
  This also applies to the HTML/CSS,
  which makes more sense to modify if you want to.

%p
  Just so I don't get in nasty legal entanglements,
  I reserve the right to remove, edit, or redistribute any content posted to this site
  in the form of comments or other reader-generated things like that.
  I won't do anything like changing around the actual content of what someone said, of course.

%p
  If you give your email when you post a comment (which is optional),
  I promise I won't share it with anyone.

%p
  I use Mark James' excellent
  %a{:href => 'http://www.famfamfam.com/lab/icons/silk/'} Silk icon set
  in places.
  These icons are licensed under the
  = succeed '.' do
    %a{:href => 'http://creativecommons.org/licenses/by/2.5/'} Creative Commons Attribution 2.5 License